/* Space out content a bit */
body {
  background: url("http://img.wallpaperfolder.com/f/7A599127FFE9/kali-linux.jpg");
  margin: auto;
  /* Set a specific height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-color: #1a1b1c;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 50px;
  overflow-y: scroll;

}

footer {
  margin-top: 40px;
}

/* New style from 1st Guestbook*/
h1 {
  text-align: right;
  font-size: 50px;
  font-family: 'Lobster', cursive;
}

h2 {
  text-align: center;
  font-size: 38px;
  font-family: 'Lobster Two', cursive;
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}
#mainLogo {
	float: right;
	height: 200px;
	width: 75%;
}

#brandImg {
	height: 40px;
	width: 100px;
}